<template>
  <div class="landing-page">
    <div v-if="!isLoggedIn">
        <login></login>
        <versions></versions>
      </div>
      <dashboard v-else></dashboard>
  </div>
</template>

<script>
import Login from './LandingPageView/Login'
import Versions from './LandingPageView/Versions'
import Dashboard from './Dashboard/Dashboard'
export default {
    components: {
        Versions,
        Login,
        Dashboard
    },
    name: 'landing-page',
    data(){
      return {
      }
    },
    computed : {
      isLoggedIn(){
        return this.$store.getters.isLoggedIn
      }
    }

}
</script>

<style>
.landing-page{
}
</style>
