<template>
  <div>
  <el-col>
  <header>
    <el-menu theme="dark" mode="horizontal">
          <el-menu-item class="header-navicon" index="1">
              <el-button type="text">
                  <i class="md-icon"><img height="50" style="margin-top: 10px;" src="../LandingPageView/assets/logo.png" alt="logo"></i>
              </el-button>
          </el-menu-item>
          <!-- <span class="header-title">{{title}}</span> -->
          <el-submenu class="header-menu" index="3">
              <template slot="title">{{currentUser()}}</template>
                  <el-menu-item @click="logOut" index="4-1"><i class="el-icon-circle-close"></i>Logout</el-menu-item>
              </el-submenu>
          </el-menu>
  </header>
</el-col>
</div>
</template>
<script>
export default{
  data(){
    return {
      title: 'Origami'
    }
  },
  name: 'header-nav',
  methods: {
    logOut(){
      this.$store.dispatch('logout').then(response => {
        this.$message({
          message: `Goodbye :(`,
          type: 'success'
        })
      }, error => {
      })
    },
    currentUser(){
      return JSON.parse(window.localStorage.getItem('user')).name
    }
  }
}
</script>
<style scoped>
header {

}
header .el-menu {
  border-radius: 0;
}
header.no_sidebar {
  transform: translate3d(0, 0, 0) !important;
  width: 100%;
}
header .header-navicon {
  display: flex;
  align-items: center;
  align-content: center;
}
header .header-navicon i {
  color: #fff !important;
  font-size: 2rem !important;
}
header .header-menu {
  float: right !important;
}
header .header-title {
  font-size: 24px;
  color: #fff;
  margin-left: 0;
  line-height: 60px;
}
</style>
