<template>
<el-col :span="5">
        <el-tag type="gray">Database Hierarchy</el-tag>
        <el-dialog :title=action_title :visible.sync="showMenu" v-loading.body="isLoading">
          <el-button type="primary" @click="getSQL('insert')" icon="plus" size="mini">Add New</el-button>
          <el-button type="primary" @click="getSQL('modify')" icon="edit" size="mini">Modify</el-button>
          <el-button type="primary" @click="getSQL('delete')" icon="delete" size="mini">Delete</el-button>
          <el-button type="primary" @click="generateDDL" icon="document" size="mini" >Generate DDL</el-button>
</el-dialog>
<el-dialog title="Add new database" :visible.sync="addDB">
  <el-form ref="dbForm" :model="dbForm" :rules="dbRules">
    <el-form-item label="DB name" prop="name" label-width="120px">
      <el-input type="text" v-model="dbForm.name" auto-complete="off"></el-input>
    </el-form-item>
    <el-form-item label="DBA User" prop="user" label-width="120px">
      <el-input type="text" v-model="dbForm.user" auto-complete="off"></el-input>
    </el-form-item>
    <el-form-item label="DBA Password" prop="password" label-width="120px">
      <el-input type="password" v-model="dbForm.password" auto-complete="off"></el-input>
    </el-form-item>
  </el-form>
  <span slot="footer" class="dialog-footer">
    <el-button @click="addDB = false">Cancel</el-button>
    <el-button type="primary" v-loading.fullscreen.lock="isLoadingDB" @click="submitDBForm('dbForm')">Confirm</el-button>
  </span>
</el-dialog>
<el-dialog title="Remove databases" :visible.sync="removeDB">
  <el-form ref="rmForm">
    <el-select v-model="dbs" multiple placeholder="Select databases" style="width: 400px;">
    <el-option
      v-for="item in databases"
      :key="item.name"
      :label="item.name"
      :value="item.name">
    </el-option>
  </el-select>
  </el-form>
  <span slot="footer" class="dialog-footer">
    <el-button @click="removeDB = false">Cancel</el-button>
    <el-button type="primary" v-loading.fullscreen.lock="isLoadingRM" @click="deleteDB('rmForm')">Confirm</el-button>
  </span>
</el-dialog>
  <div class="tree">
    <div class="toolbar">
      <el-tooltip content="Add database" placement="top">
        <el-button @click="addDB = true" type="primary" size="mini"> <octicon icon="plus" width="15" height="12" color="#fff"></octicon> </el-button>
      </el-tooltip>
      <el-tooltip content="Remove database" placement="top">
        <el-button @click="removeDB = true" type="primary" size="mini"> <octicon icon="dash" width="15" height="12" color="#fff"></octicon> </el-button>
      </el-tooltip>
      <el-tooltip content="Refresh tree" placement="top">
        <el-button type="primary" @click="refreshDB" :loading="refresh" size="mini">  <octicon icon="sync" width="15" height="12" color="#fff"></octicon> </el-button>
        </el-tooltip>
</div>
        <el-tree :data="hierarchyTree" :props="props" :load="fetchNode" :render-content="renderContent" lazy>
        </el-tree>
      </div>
    <div v-if="!!currentDBUser" class="connection">
        <el-dropdown @command="handleCommand" trigger="click">
            <span class="el-dropdown-link">
    <el-badge is-dot class="item"><octicon icon="plug" width="22" height="18" color="#7E151A"></octicon><b>{{currentDBUser}}</b></el-badge><i class="el-icon-caret-bottom el-icon--right"></i>
  </span>
            <el-dropdown-menu slot="dropdown">
                <el-dropdown-item command="modify" class="clearfix">
                  <octicon icon="gear" width="22" height="18" color="#7E151A"></octicon> Modify
                </el-dropdown-item>
            </el-dropdown-menu>
        </el-dropdown>
    </div>

</el-col>
</template>
<script>
import '../../../compiled-icons/'
export default {
    data() {
      return {
        name: 'side-bar',
        props: {
          label: 'label',
          children: 'children'
        },
        dbForm: {
          name: '',
          user: '',
          password: ''
        },
        dbRules: {
            name: [{
                required: true,
                message: 'Please input a db name'
            }],
            password: [{
                required: true,
                message: 'A password is required'
            }],
            user: [{
                required: true,
                message: 'Please input a user'
            }]
        },
        dbs: [],
        showMenu: false,
        isLoadingRM: false,
        isLoading: false,
        isLoadingDB: false,
        refresh: false,
        addDB: false,
        removeDB: false,
        action_title: '',
        object_type : '',
        object_schema: '',
        object_table: ''
      };
    },
    methods: {
      deleteDB(formName){
        this.$refs[formName].validate((valid) =>{
          if(valid){
            console.log('going to remove')
            let dbs = this.dbs.map((val)=>{ return " "+val+""; })
            this.removeDB = false
            this.$confirm(`This will permanently remove ${dbs.toString()}.\nContinue?`, 'Warning', {
              confirmButtonText: 'Yes',
              cancelButtonText: 'Nah',
              type: 'warning'
            }).then(()=>{
              this.isLoadingRM = true
              let proms = []
              this.dbs.map(val=>{
                let data = {
                  name: val
                }
                proms.push(this.$store.dispatch('remove_db', data))
              })
              Promise.all(proms).then(res=>{
                console.log('All good!?')
                console.log(res)
                this.$store.dispatch('fetch_databases', {}).then(res=>{
                  this.$store.dispatch('create_tree_view', {}).then(res=>{
                    this.isLoadingRM = false
                    this.$message({
                      message: 'Remove was completed successfully',
                      type: 'success'
                    })
                  })
                })
                this.isLoadingRM = false
              }, error=>{
                console.log('Error happened')
                console.log(error)
                this.$message.error('there was an error removing a db :S')
                this.isLoadingRM = false
              })
            }).catch(()=>{
              this.removeDB = false
            })
          }else{
            console.log('Invalid')
          }
        })
      },
      submitDBForm(formName){
        this.$refs[formName].validate((valid) => {
          if(valid){
            console.log('Valid')
            console.log(this.dbForm)
            this.isLoadingDB = true
            this.$store.dispatch('create_db', this.dbForm).then(res=>{
              this.$store.dispatch('fetch_databases', {}).then(res => {
                this.$store.dispatch('create_tree_view', {}).then(res=>{
                  this.$message({
                    message: 'Database created!',
                    type: 'success'
                  })
                  this.isLoadingDB = false
                  this.addDB = false
                })
              })
            }, error => {
              console.log(error)
              this.$message.error('There was an error creating db :S')
            })
          }else {
            console.log('error on submit!')
            this.$message.error('Please fill all the required fields correctly!');
            return false
          }
        })
      },
      handleCommand(command){
        switch (command) {
          case 'modify':
              this.$store.dispatch('trigger_db_prompt', {})
            break;
          default:
        }
      },
      fetchNode(node, resolve){
        console.log('This is the node')
        console.log(node)
        let schemas = []
        let tables = []
        let indexes = []
        let views = []
        let fns = []
        let procedures = []
        let triggers = []
        if (node.data.type === "db") {
          console.log('Helo!')
            if(node.data.label !== this.$store.getters.currentDB){
                this.$confirm(`You're not connected to this database. \nDo you wish to connect?`, 'Hold on ma friend', {
                  confirmButtonText: `Yes`,
                  cancelButtonText: 'Nah',
                  type: 'info'
                }).then(()=>{
                  this.$store.dispatch('trigger_db_prompt', {})
                  this.$store.dispatch('create_tree_view', {})
                }).catch(()=>{
                  this.$store.dispatch('create_tree_view', {})
                  return resolve([]);
                })
            }else{
              this.$store.dispatch('fetch_schemas', {}).then((res) => {
                  console.log('Response?')
                  console.log(res)
                  res.rows.map(value => {
                    if(value.SCHEMA !== undefined){
                      schemas.push({
                          label: value.SCHEMA,
                          schema: value.SCHEMA,
                          children: [],
                          type: 'schema'
                      })
                    }
                  })
                  this.$store.dispatch('fetch_tables', {}).then((res) => {
                      console.log('Tables?')
                      console.log(res)

                      res.rows.map(value => {
                        if(value.TABLENAME !== undefined){
                          tables.push({
                              label: value.TABLENAME,
                              schema: value.SCHEMA,
                              children: [],
                              type: 'table'
                          })
                        }
                      })
                  }, error => {
                      console.log(error)
                  })
                  this.$store.dispatch('fetch_indexes', {}).then((res) => {

                      res.rows.map(value => {
                        if(value.INDEXNAME !== undefined){
                          indexes.push({
                            label: value.INDEXNAME,
                            schema: value.SCHEMA,
                            table: value.TABLENAME,
                            tableNamePattern: value.TABLENAME,
                            children: [],
                            type: 'index'
                          })
                        }

                      })

                  }, error => { console.log(error) })

                  this.$store.dispatch('fetch_views', {}).then((res) => {

                      res.rows.map(value => {
                        if(value.VIEWNAME !== undefined){
                          views.push({
                            label: value.VIEWNAME,
                            schema: value.SCHEMA,
                            table: value.VIEWNAME,
                            tableNamePattern: value.VIEWNAME,
                            children: [],
                            type: 'view'
                          })
                        }

                      })

                  }, error => { console.log(error) })
                  this.$store.dispatch('fetch_fns', {}).then((res) => {

                      res.rows.map(value => {
                        if(value.FUNCTIONNAME !== undefined){
                          fns.push({
                            label: value.FUNCTIONNAME,
                            schema: value.SCHEMA,
                            children: [],
                            type: 'fn'
                          })
                        }

                      })

                  }, error => { console.log(error) })
                  this.$store.dispatch('fetch_procedures', {}).then((res) => {
                    res.rows.map(value => {
                      if(value.PROCEDURENAME !== undefined){
                        procedures.push({
                          label: value.PROCEDURENAME,
                          schema: value.SCHEMA,
                          children: [],
                          type: 'procedure'
                        })
                      }
                    })
                  }, error => { console.log(error) })
                  this.$store.dispatch('fetch_triggers', {}).then((res) => {
                    res.rows.map(value => {
                      if(value.TRIGGERNAME !== undefined){
                        triggers.push({
                          label: value.TRIGGERNAME,
                          schema: value.SCHEMA,
                          children: [],
                          type: 'trigger'
                        })
                      }
                    })
                    console.log('Trigger size')
                    console.log(triggers.length)
                  }, error => { console.log(error) })
                  setTimeout(function() {
                      let result = [{
                              label: 'Schemas',
                              children: schemas,
                              type: 'folder'
                          },
                          {
                              label: 'Tables',
                              children: tables,
                              type: 'folder'
                          },
                          {
                            label: 'Indexes',
                            children: indexes,
                            type: 'folder'
                          },
                          {
                            label: 'Views',
                            children: views,
                            type: 'folder'
                          },
                          {
                            label: 'Functions',
                            children: fns,
                            type: 'folder'
                          },
                          {
                            label: 'Procedures',
                            children: procedures,
                            type: 'folder'
                          },
                          {
                            label: 'Triggers',
                            children: triggers,
                            type: 'folder'
                          }
                      ]
                      return resolve(result)
                  }, 500);
              }, error => {
                  console.log(error)
              })
            }

        } else if (node.data.type === 'folder') {
            return resolve(node.data.children)
        } else {
            return resolve([])
        }
      },
      getIcon(node_type){
        switch (node_type) {
          case 'db':
            return "database"
          case 'folder':
            return "file-directory"
          case 'schema':
            return "person"
          case 'table':
            return "note"
          case 'index':
            return "repo"
          case 'view':
            return "eye"
          case 'fn':
            return "tasklist"
          case 'procedure':
            return "beaker"
          case 'trigger':
            return "settings"
          default:
        }
      },
      handler(event, node){
        event.preventDefault()
        this.showMenu = true;

      },
      renderContent(h, { node, data, store }) {
        let icon = this.getIcon(data.type)
        let isObject = icon !== 'file-directory' && icon !== 'database';
        console.log('The node')
        console.log(node)
        if(isObject){
          return (
            <span on-contextmenu={(e)=>{e.preventDefault(); this.showMenu = true; this.action_title = node.label; this.object_type = data.type; this.object_schema = data.schema; this.object_table = data.table;}}>
              <span>
                <octicon icon={icon} width="22" height="18" color="#7E151A"></octicon>
                <span>{node.label}</span>
              </span>
            </span>);
        }else{
          return (
            <span>
              <span>
                <octicon icon={icon} width="22" height="18" color="#7E151A"></octicon>
                <span>{node.label}</span>
              </span>
            </span>);
        }
      },
      generateDDL(){
        let object = {
          name: this.action_title,
          type: this.object_type === 'fn' ? 'function' : this.object_type,
          table: this.object_table,
          tableNamePattern: this.object_table,
          schema: this.object_schema
        }
        console.log("Going to generate ddl for ")
        console.log(object)
        this.isLoading = true
        this.$store.dispatch('generate_ddl', object).then(res =>{
          this.isLoading = false
          this.showMenu = false;
        }, error => { console.log(error); this.isLoading = false; })
      },
      getSQL(procedure){
        let object = {
          type: this.object_type === 'fn' ? 'function' : this.object_type,
          procedure: procedure
        }
        console.log('Going to generate a sql template for')
        console.log(object)
        this.isLoading = true
        this.$store.dispatch('get_sql', object).then(res =>{
          this.isLoading = false
          this.showMenu = false
        }, error => { console.log(error); this.isLoading = false; })
      },
      refreshDB(){
        this.refresh = true
        this.$store.dispatch('fetch_databases', {}).then(res=>{
          this.$store.dispatch('create_tree_view', {}).then(res=>{
            this.refresh = false
          })
        })
      }
    },
    computed: {
      currentDBUser(){
        return this.$store.getters.currentConnectionCreds.db_user
      },
      databases(){
        return this.$store.getters.databases
      },
      hierarchyTree(){
        return this.$store.getters.hierarchyTree
      }
    }
  }
</script>
<style scoped>
.connection {
    margin-left: 20px;
    font-size: 20px;
    margin-top: 30px;
    font-family: Quicksand, sans-serif;
}

.tree{
  height: 400px;
  overflow-y: auto;
  overflow-x: auto;
  margin-top: 5px;
  width: 190px;
}

.item {
    margin-top: 0px;
    margin-right: 0px;
}

.el-menu {
    border-radius: 0;
}
.el-tree{
  overflow-x: auto;
  font-weight: bold;
}
.toolbar{
  margin-left: 0px;
  margin-bottom: 5px;
  text-align: right;
}
</style>
