<template>
  <ul>
    <!-- <li><a href="https://simulatedgreg.gitbooks.io/electron-vue/content/index.html">documentation</a></li> -->
  </ul>
</template>

<style scoped>
  a {
    color: #fff;
    text-decoration: none;
  }

  a:hover {
    color: #000;
  }

  ul {
    list-style-type: none;
    margin-top: 10px;
  }

  li { display: inline-block; }
</style>
