<template>
  <div class="login-form">
  <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-position="left" label-width="0px" class="demo-ruleForm login-container">
    <div class="title"> <img src="./assets/logo.png" alt="logo">
      <h1 class="logo-text">Origami.</h1></div>
    <el-form-item prop="username">
      <el-input type="text" v-model="ruleForm.username" auto-complete="off" placeholder="username"></el-input>
    </el-form-item>
    <el-form-item prop="password">
      <el-input type="password" v-model="ruleForm.password" auto-complete="off" placeholder="password"></el-input>
    </el-form-item>
    <el-form-item style="width:100%;">
      <el-button id="loginBtn" type="primary" v-loading.fullscreen.lock="loading" style="width:30%;" @click.native.prevent="submitForm('ruleForm')">Login</el-button>
    </el-form-item>
    <versions></versions>
  </el-form>

</div>
</template>

<script>
  import Versions from './Versions'
  export default{
    data(){
      return {
        ruleForm: {
          username: '',
          password: ''
        },
        loading: false,
        rules: {
          username: [
            { required: true, message: 'Enter domain username', trigger: 'blur' }
          ],
          password: [
            { required: true, message: 'Enter domain password', trigger: 'blur' }
          ]
        }
      }
    },
    methods: {
      submitForm(formName){
        const self = this;
        self.$refs[formName].validate((valid) => {
          if(valid){
            self.loading = true
            let user = {
              name: this.ruleForm.username,
              password: this.ruleForm.password
            }
            setTimeout(function () {
              self.$store.dispatch('login', user).then(response => {
                self.$message({
                  message: `Welcome ${user.name}! :)`,
                  type: 'success'
                })
                self.loading = false
              }, error => {
                self.$message.error('Your username or password were incorrect. Try again?')
                self.loading = false
              })

            }, 500);


          }else{
            console.log('Error on submit!')
            return false
          }
        })
      }
    },
    components: {
      Versions
    }
  }
</script>

<style scoped>
.logo-text {
    color: #fff;
    margin-top: 0px;
    margin-bottom: 6px;
}
.login-form{
  background: #A7383E;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  font-family: Quicksand, sans-serif;
}
.login-container {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  background-clip: padding-box;
  margin: 30px auto;
  width: 350px;
  padding: 35px 35px 15px 35px;
  background: transparent;
  text-align: center;
}
login-container .title {
  margin: 0px auto 40px auto;
  text-align: center;
  color: #505458;
}
login-container .remember {
  margin: 0px 0px 35px 0px;
}
#loginBtn{
  background-color: #7E151A;
  color: #fff;
  margin-top: 10px;
}
</style>
