<template>
  <p style="color: #fff">
    You are using Origami on the {{ platform }} platform.
  </p>
</template>

<script>
  import os from 'os'

  export default {
    data () {
      return {
        platform: os.platform()
      }
    }
  }
</script>

<style scoped>
p{
  margin-top: 10px;
  font-weight: bold;
  font-size: 13.6px;
}
</style>
