<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
  import store from 'renderer/vuex/store'
  export default {
    store
  }
</script>

<style>
@import url(https://fonts.googleapis.com/css?family=Quicksand:300);
html,body{
  margin: 0;
}
.el-message{
  background-color: #fff;
  border-radius: 20px;
  color: #7E151A;
  font-family: Quicksand, sans-serif;
  font-weight: bolder;
}
.el-loading-mask{
  background-color: rgba(154, 80, 80, 0.9);
}
.el-loading-spinner .path{
  stroke: #fff;
}
* { margin:0; padding:0; box-sizing:border-box; }
.el-form-item__error{
  color: #fff !important;
}
.el-form-item.is-error .el-input__inner, .el-form-item.is-error .el-textarea__inner{
  border-color: rgba(154, 80, 80, 0.9);
}
.el-badge__content{
  background-color: #13ce66;
}
.el-message-box{
  font-family: Quicksand, sans-serif;
  font-size: 15px;
  font-weight: bold;
}
</style>
